// Smooth scroll

html {
  scroll-behavior: smooth;
}

// Flex classes on #site-wrapper and #page-wrapper (header.php) are used to force full height on pages with little content

// Layout fix when logged in and admin bar is present

.admin-bar #site-wrapper,
.admin-bar #header-wrapper {
  top: 32px;
}

// Selected text styles

::selection {
  color: $light;
  background-color: tint-color($secondary, 15%);
}

// Utility class to use img tag as a background

.has-img-background {
  position: relative;
  // background: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.5));
  background-color: rgba($dark, 50%);

  img.is-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.m-10 {
  margin: 10px;
}

a.top_menu:hover {
  color: unset;
}

.optima {
  font-family: 'Optima', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Optima', sans-serif;
}

.heading_bottom {
  font-weight: 700;
  border-bottom: 3px solid #0064ac;
  padding-bottom: 10px;
}

.border-0 {
  border: 0;
}

.outline-0 {
  outline: 0;
}

.section-tagline {
  color: #525658;
  font-weight: 700;
  display: flex;
  font-family: Lato, sans-serif;
}

.section-tagline:after {
  display: block;
  content: "";
  height: 1px;
  width: 204px;
  background-color: #9d9d9c;
  margin-top: 23px;
  margin-left: 22px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

.col-green {
  color: green;
}

.h_28vh {
  height: 28vh;
}

.figure-img {
  margin: auto;
  display: flex;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
