#pods-settings-group-manage-setting-of-website, #pods-settings-group-add-text-video-image-to-website, #pods-settings-group-hide-sections-from-website {
  background-color: white;
  margin: 1%;

  h2 {
    background-color: lightgray;
    padding: 1%;
  }

  .pods-field-option label {
    margin-left: 2rem;
  }
}
