// --- Local fonts ---

/* purgecss start ignore */

// @import 'fontface';

/* purgecss end ignore */

// --- Bootstrap Custom Theme ---

@import '../../node_modules/bootstrap/scss/functions';
@import 'theme';
// Bootstrap custom theme variables
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/bootstrap';

// --- Integrations ---
// import Swiper styles
// import Swiper and modules styles
@import '../../node_modules/swiper/swiper-bundle';
//@import '../../node_modules/swiper/swiper.min';

/* purgecss start ignore */

@import 'integrations/aos';  // required npm packages: 'aos'
// @import 'integrations/swiper';  // required npm package: 'swiper'

// --- WP Core required styles ---

@import 'integrations/wpcore';

// --- Custom styles ---

@import 'globals';
@import 'components/backtotop';
@import 'header/header';
@import 'footer/footer';
// @import 'footer/columns';

@import 'templates/homepage';
@import 'templates/sidebar';
@import 'templates/comments';
@import 'templates/floating_contact';
@import 'templates/about_us';
@import 'templates/single_project';
@import 'templates/contactus';
@import 'templates/welcome';
@import "templates/mpl";
@import "templates/blog";
@import "templates/team";

@import '../../node_modules/lightgallery/css/lightgallery-bundle.css';
@import url('//fonts.cdnfonts.com/css/optima');
@import url('//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,500&display=swap');
@import url('//fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
/* purgecss end ignore */
body {
  //background: #f9f9f9;
}

.optima {
  font-family: 'Optima', sans-serif;
}

.basker {
  font-family: 'Baskervville', serif;
}

.opensan {
  font-family: 'Open Sans', sans-serif;
}


.first_message_holder {
  position: absolute;
  margin-top: -35%;
  width: 100%;
  margin: 0 auto;
  top: 30%;
  color: white;
  z-index: 2;
}

#video_holder, .m_slider_wrp {
  position: relative;

}

.video_overlay:after {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 1;
  height: 100%;
}

.first_message_holder .f1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  //background: black;
  padding: 11px;
}

.first_message_holder .f2 {
  //background-color: black;
  padding: 14px;
  width: 65%;
  margin: auto;
  opacity: 0.8;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 500;
}


.postion-abs {
  position: absolute;
}

.postion-rel {
  position: relative;
}


.swiper-slide img {
  display: block;
  width: 100%;
}

.swp_nav_btn {
  padding: 25px;
  color: white;
  background-color: black;
}

#contact_body label.error {
  font-size: 12px;
  color: red;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1rem;
}

.tax-list {
  width: 90%;
  margin: auto;
  margin-top: 3%;
}
.no-project{
  font-size: 1.5rem;
  text-align: center;
  background: lightgray;
  padding: 2%;
}
.no-project a{
  color:blue;
}
.no-project a:hover{
  color:blue;
  text-decoration: underline;
}

@media only screen and (min-width: 1441px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
  .first_message_holder {
    top: 25%;
  }
  .first_message_holder .f1 {
    font-size: 3rem;
  }
  .first_message_holder .f2 {
    width: 90%;
    font-size: 1rem;
  }
  .front-page-about-us .about_us_wrapper {
    width: 90%;
  }
  .hide_tab {
    display: none;
  }
  .width_tab_100 {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .width_tab_100 {
    width: unset;
  }
  .hide_tab {
    display: block;
  }
  .first_message_holder {
    top: 9%;
  }
  .first_message_holder .f1 {
    font-size: 2rem;
  }
  .first_message_holder .f2 {
    font-size: 0.6rem;
    padding-top: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
}

/* Iphone 5/6/7 */
@media only screen and (max-width: 375px) {
  .first_message_holder {
    top: 2%;
  }
  .first_message_holder .f1 {
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 320px) and (max-height: 568px) {
}

/* Iphone 4/5 */
@media only screen and (max-width: 320px) {
  .first_message_holder .f2 {
    font-size: 0.5rem;
  }
}

//#section-slider{
//  background: rgb(17 29 72);
//  -webkit-filter: grayscale(65%);
//  filter: grayscale(65%);
//}