#footer-wrapper {
  .custom-logo {
    width: auto;
    max-height: 50px;
  }
}

.main_footer_wrapper {
  background-color: #f8f9fb !important;
  padding-top: 50px;
  color: black;
}

.footer_social_holder {
  padding-bottom: 1.1%;
}

.footer_holder {
  width: 100%;
}

.footer-social-icons {
  display: inline-block;
  //margin-left: 41px;
}

ul.social-media-icons-sections li {
  display: inline-block;
  margin-right: 15px;
}

.social-media-icons-sections {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.footer-social-icons .social-media-icons-sections li:first-of-type::before {
  display: block;
  content: "";
  width: 1px;
  height: 50px;
  //border-right: 1px solid #cacaca;
  position: absolute;
  left: 20%;
  top: -12px;
}

.footer_holder ul a {
  color: #232323;
  text-decoration: none;
  background-color: transparent;
}

.fnt-1-2 {
  font-size: 1.2rem;
}

.btn-subscribe {
  background-color: #9d9d9c;
  border-color: #9d9d9c;
  border-radius: 0 !important;
  color: white;
}

.address {
  color: black;
  padding-top: 9px;
  font-size: 0.9rem;
  opacity: 0.7;
}

.btn-subscribe:hover {
  color: black;
}

#brk-signature {
  padding: 3px;
}

#footer-copyright {
  background-color: #363636;
}

//.footer_container{
//  width: 80%;
//  margin:auto;
//}

/* floating box style */
.floating-form { /*contact form wrapper*/
  max-width: 300px;
  padding: 30px 30px 10px 30px;
  border: 1px solid #ddd;
  right: 10px;
  position: fixed; /*Form position fixed*/
  background-color: white;
  z-index: 9999;
  color: black;
  font-family: 'Optima';
}

.contact-opener { /*opener button*/
  position: absolute;
  left: -56px;
  transform: rotate(-90deg); /* rotate button -90deg */
  top: 100px;
  padding: 9px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
  cursor: pointer;
  border-radius: 5px 5px 0px 0px;
  background: black;
}

.contact-body label {
  width: 100%;
}

.newsletter-txt {
  padding: 2%;
  font-size: 0.9rem;
  font-weight: 500;
}

#subcribeForm .alert {
  margin-bottom: 0;
}

.footer_social_holder {
  color: #6b6b6c;
}

.footer_ul_holder {
  list-style: none;
  padding-left: 0.5rem;
  line-height: 1.5rem;
}

.footer_ul_holder li svg {
  color: #ccb18a;
}

.footer_ul_holder li {
  font-size: 0.85rem;
}

.footer_ul_holder li:hover {
  text-decoration: underline;
}

.footer_m_hodler {
  margin-left: 10%;
}

.address_holder {
  padding-left: 7%;
  padding-top: 7%;
  font-size: 0.9rem;
}
#calendar {
  .modal-title {
    color: black;
  }
}
.footer_m_hodler nav .footer_ul_holder {
  a {
    color: unset;
    display: inline;
    padding-left: 10px;
  }

  li.menu-item a:hover::after, li.menu-item a:focus::after {
    transition: unset;
  }

  li.menu-item a {
    display: inline;
  }

  li.menu-item a::after {
    width: auto;;
  }
}

.social-media-icons-sections {
  padding-left: 8%;
}

.footer-social-icons {
  width: 100%;
}
#wpcal-widget .widget-main.state-form, #wpcal-widget .widget-main.state-select-date{
  margin-top: 0;
}