.section-contact-us {
  //padding-top: 2%;
  .left_bg {
    background-color: #e9e9e9;
  }

  .right_bg {
    background-color: #e9e9e9;
  }
  .dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2553b8;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .dbox .text {
    width: 100%;
  }
  .dbox .icon svg {
    font-size: 20px;
    color: #fff;
  }
  label.error{
    padding: 2px;
    width: 100%;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    font-weight: bold;
  }
  .form-control{
    font-size: 1rem;
  }

  input.btn-primary{
    color: white;
    width: 157px;
    padding: 6px;
    font-size: 1rem;
    font-weight: bold;
  }
}