$slider-height: 500px;

#section-slider {
  .carousel-inner {
    max-height: $slider-height;
  }

  .carousel-item {
    max-height: $slider-height;
  }

}

.sub_latest_launch {
  color: #2a2525;
  padding-top: 2%;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}
