.section-single-project {
  margin-top: 2%;
  border: 1px solid lightgray;
  padding-top: 1%;
  padding-bottom: 1%;
}
.proj_img {
  width: 50%;
}

.proj_img img {
  width: 100%;
  height: 100%;
  padding: 2%;
  border: 1px solid lightgrey;
}
.project_title{
  background-color: #cfcfcf;
  padding: 2%;
  font-family: inherit;
  margin-bottom: 3%;
}